# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Python
__pycache__/
*.pyc

# Data files
*.csv
*.xlsx
*.xls
*.json

# Web scraping generated data
dataCollection/scraped_data/

# ChromaDB
chroma.sqlite3

# SQL notes
SQL/SQL2 Notes.pdf
SQL/SQL_CheatSheet.pdf